force-app/main/default/flows/Example_Send_Email_Flow_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>718</locationX>
        <locationY>349</locationY>
        <actionName>SendEmailFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Email_Sent_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Sent_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Email_Template_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>entityAttachmentIds</name>
            <value>
                <elementReference>Email_Attachments.contentVersionIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>Email_Body_Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddresses</name>
            <value>
                <elementReference>ToAddressesCollection</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Collections</name>
        <label>Assign Collections</label>
        <locationX>352</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>ToAddressesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Email_Input.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToAddressesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Second_Email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Body_Type_based_on_choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Template</name>
        <label>Assign Email Template</label>
        <locationX>494</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>Email_Template_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Test_Email_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Text_to_Email_Body</name>
        <label>Assign Text to Email Body</label>
        <locationX>718</locationX>
        <locationY>127</locationY>
        <assignmentItems>
            <assignToReference>Email_Body_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Body_Text_Area</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Email_Template</name>
        <choiceText>Email Template</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Text</name>
        <choiceText>Text</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Set_Body_Type_based_on_choice</name>
        <label>Set Body Type based on choice</label>
        <locationX>484</locationX>
        <locationY>138</locationY>
        <defaultConnector>
            <targetReference>Assign_Email_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Template Choice</defaultConnectorLabel>
        <rules>
            <name>Text_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Email_Body_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Text_to_Email_Body</targetReference>
            </connector>
            <label>Text Choice</label>
        </rules>
    </decisions>
    <interviewLabel>Example Send Email Flow Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Example Send Email Flow Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Test_Email_Template</name>
        <label>Get Test Email Template</label>
        <locationX>46</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Test_Flow_Email_Template</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Email_Screen</name>
        <label>Email Screen</label>
        <locationX>171</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Setup_Email_Body</targetReference>
        </connector>
        <fields>
            <name>Email_Input</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Second_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Second Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_Email_Body_Type</name>
            <choiceReferences>Email_Template</choiceReferences>
            <choiceReferences>Text</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Email Body Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_Attachments</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email Attachments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Sent_Failure</name>
        <label>Email Sent Failure</label>
        <locationX>900</locationX>
        <locationY>514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>email_sent_failure_message</name>
            <fieldText>&lt;p&gt;Oh no! Email wasn&apos;t sent!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Sent_Success</name>
        <label>Email Sent Success</label>
        <locationX>1183</locationX>
        <locationY>297</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>email_sent_success_text</name>
            <fieldText>&lt;p&gt;Yay! Email was sent!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Setup_Email_Body</name>
        <label>Setup Email Body</label>
        <locationX>209</locationX>
        <locationY>356</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Collections</targetReference>
        </connector>
        <fields>
            <name>Email_Body_Text_Area</name>
            <fieldText>Email Body Text Area</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Email_Body_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Text</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Email_Template_Selected</name>
            <fieldText>&lt;p&gt;You&apos;ve selected to use an Email Template. A Default One has been populated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Email_Body_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Email_Template</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Test_Email_Template</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Email_Body_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Template_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToAddressesCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
